<html>

<head>
    <title></title>

</head>

<body>
        <div class="new-posts">
            <div class="add">
                <a href="/posts/newPosts">
                        <button>New Post</button>
                </button></a>
            </div>
            <div class="your-notes">
                <p> Your Posts </p>
            </div>
        </div>
    </div>

    <div style="display:flex; flex-direction:row" class=container action="posts/home">
        {{#each posts}}

        <div style="border:2px solid black"class="box">
            <div class="title">
                <p>{{this.title}}</p>
            </div>
            <p>
                {{this.createdAt}}
            </p>
            <div class="op-edt-del">
                <a href="/posts/{{this.slug}}"><button class="open">Open</button></a>
                <a href="/posts/{{this._id}}/edit"><button class="edit">Edit</button></a>
                <form action="/posts/{{this._id}}?_method=DELETE" method="POST">
                    <button class="delete">Delete</button>
                </form>
            </div>
        </div>

        {{/each}}
    </div>


</body>

</html>